/* GENERICS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.conteiner{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* HEADER */

header {
    width: 1080px;
    text-align: center;
    margin: 2rem auto;
}

h1 {
    color: #E53170;
    font-size: 2.5rem;
    margin: 2rem 0;
}

/* MAIN */

.clearfix::after {
    display: block;
    clear: both;
}

.row {
    width: 100%;
}

.card {
    height: 90px;
    background-color: #0F0E17;
    border-radius: 2%;
    box-shadow: 1px 1px 5px;
}

.col-1-3 {
    width: calc(100% / 3);
    padding: 1rem;
    float: left;
}

.card > img {
    height: 90px;
    float: left;
}

.card > div {
    color: white;
    margin: 1rem;
    line-height: 1.5rem;
}

.card-info {
    padding: 0.5rem 0 1rem 5.5rem;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: #39AFD2;
}


